[Unit]
Description=Run GitHub Daily Contribution Generator (git-green)
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/zainm/dotfiles/git-green/git_green.py generate --days 0
WorkingDirectory=/home/zainm/dotfiles
StandardOutput=journal
StandardError=journal
