[Unit]
Description=Run GitHub Daily Contribution Generator Timer (git-green)

[Timer]
OnCalendar=*-*-* 22:30:00
Persistent=true

[Install]
WantedBy=timers.target
